@model Message

@if (ViewBag.Success != null)
{
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        Swal.fire({
            icon: 'success',
            title: '@ViewBag.Success!',

            showConfirmButton: true

        });
    </script>
}



<div class="col-lg-7">
    <form action="/SendMessage/SendMessages" method="post" class="php-email-form" data-aos="fade-up" data-aos-delay="200">
        <div class="row gy-4">

            <div class="col-md-6">
                <label for="name-field" class="pb-2">Adınız Soyadınız</label>
                <input type="text" asp-for="NameSurname" class="form-control" placeholder="Adınız Soyadınız" required="">
            </div>

            <div class="col-md-6 ">
                <label for="email-field" class="pb-2">Email Adresiniz</label>
                <input type="email" class="form-control" asp-for="Email" placeholder="Mail Adresiniz" required="">
            </div>

            <div class="col-md-12">
                 <label for="subject-field" class="pb-2">Konu</label>
                <input type="text" class="form-control" asp-for="Subject" placeholder="Konu" required="">
            </div>

            <div class="col-md-12">
                <label for="message-field" class="pb-2">Mesaj</label>
                <textarea class="form-control" asp-for="MessageDetail" rows="6" placeholder="Message" required=""></textarea>
            </div>

            <div class="col-md-12 text-center">


                <button type="submit" class="btn btn-outline-primary">Mesaj'ı Gönder</button>
            </div>

        </div>

    </form>


</div><!-- End Contact Form -->
