@model List<SocialMedia>
@{
    ViewData["Title"] = "SocialMediaList";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    int count = 0;
}

<h1>Sosyal Medya Bağlantıları</h1>
<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>İsim</th>
        <th>Ikon</th>
        <th>Link</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var item in Model)
    {
        count++;
        <tr>

            <td>@count</td>
            <td>@item.SocialName</td>
            <td>@item.SocialImage</td>
            <td>@item.SocialUrl</td>
            <td><a href="/SocialMedia/DeleteSocialMedia/@item.SocialMediaId" class="btn btn-outline-danger">Sil</a></td>
            <td><a href="/SocialMedia/UpdateSocialMedia/@item.SocialMediaId" class="btn btn-outline-success">Güncelle</a></td>
        </tr>
    }
</table>
<a href="/SocialMedia/AddSocialMedia/" class="btn btn-outline-info">Yeni Sosyal Medya Bağlantısı Ekle</a>
